<div class='row'>
  <div class="col-md-10">
    <h3>Resultado:</h3>
  </div>
</div>
<div class='row'>
  <% @reports.each do |report| %>
    <div class="col-md-10">
        <%= report.action %> - <%= report.balance %> - <%= report.created_at.strftime("%H:%M:%S") %>
    </div>
  <% end %>
</div>