<% if !user_signed_in? %>
  <div class='row'>
    <center>
      <h4><a href='/users/sign_in'>Entrar no seu ATM</a> | <a href='/users/sign_up'>Criar uma nova conta</a.</h4>
    </center>
  </div>
<% end %>
